*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: helvetica, Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 10px auto;
}

.container ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.container ul li {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

.id, .name, .email, .message, .archiveBtn {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-collapse: collapse;
    overflow: auto;
}

.id {
    width: 10%;
}

.name, .email {
    width: 20%;
}

.activeReq .message {
    width: 40%;
}

.archiveReq .message {
    width: 50%;
}

.archiveBtn {
    width: 10%;
    border: none;
}

button {
    background-color: #47cf73;
}

.noRequests {
    color: #47cf73;
}

ul:nth-child(odd) {
    background-color: #e7e9eb;
}