*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
}

.container {
    width: 90%;
    margin: 3rem auto 0 auto;
    max-width: 720px;
    background-color: #e6e3e3;
    padding: 1rem 0.5rem;
}

.header {
    padding: 1rem 0.5rem;
}

h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

.success {
    color: #47cf73;
}

.error {
    color: red;
}

form {
    padding: 2rem 0.5rem;
}

.form-element {
    margin: 0 auto 1rem auto;
    padding: 0.2rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

sup {
    color: red;
}

input,
button,
textarea {
    margin: 0;
    font-size: 1rem;
}

.input-text {
    display: block;
    width: 100%;
    height: 2.3rem;
    padding: 0.2rem 0.7rem;
    border: 1px solid #e6e3e3;
    border-radius: 2px;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.5rem;
    resize: vertical;
}

.input-text:focus, .input-textarea:focus {
    outline: 1px solid #e73;
}

button {
    display: block;
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem;
    background-color: #47cf73;
    border-radius: 5px;
    cursor: pointer;
}
